{% set _ = load_data(path="@/header.toml") -%}
<header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 gap-6">
    <div>
        <h1 class="text-3xl font-bold mb-1">{{_.name}}</h1>
        <h2 class="text-xl text-[var(--primary)] font-semibold mb-2">{{_.title}}</h2>
        <p class="text-sm opacity-80 max-w-lg">{{_.about}}</p>
    </div>
    <div class="flex flex-col items-end">
        <div class="flex items-center mb-2">
            <i class="fas fa-envelope mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="mailto:{{_.email}}">{{_.email}}</a></span>
        </div>
        <!--
        <div class="flex items-center mb-2">
            <i class="fas fa-phone mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">(123) 456-7890</span>
        </div>
        -->
        <div class="flex items-center mb-2">
            <i class="fas fa-map-marker-alt mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">{{_.location}}</span>
        </div>
        <div class="flex items-center">
            <i class="fab fa-linkedin mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="https://www.{{_.linkedin}}">{{_.linkedin}}</a></span>
        </div>
    </div>
</header>
