{% set data = load_data(path="@/skills.toml") -%}
<!-- adjust width if you want to add increase skills percentage -->
<section class="resume-section bg-[var(--card)] p-6 rounded-lg shadow-sm">
    <h2 class="text-xl font-bold mb-4 border-b pb-2 border-[var(--primary)]">Skills</h2>
    {% for _ in data.items %}
    <div class="mb-4">
        <h3 class="font-semibold text-sm mb-2">{{_.skill}}</h3>
        <div class="skill-bar bg-gray-200">
            <div class="progress bg-[var(--primary)]" style="width: {{_.percent}}"></div>
        </div>
    </div>
    {% endfor %}
</section>
